<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Immune Supplements Store</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- Third party plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <?php include_once("assets/snip/nav.php") ?>
        <!-- navigation ends -->
        <!-- Masthead-->
           <!-- Services section-->
   
        <!-- Call to action section-->
        <section class="page-section bg-dark text-white" style="background:transparent url('/../<?= $blog[0]['img'] ?>') no-repeat center center /cover">
            <div class="container text-center" >
                <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
                <!--<a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a> -->
            </div>
        </section>
        <!-- Contact section-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-left">
                        <h2 class="mt-0"><?=$blog[0]['title']?></h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">
                            <p>
                            <?=$blog[0]['blog']?><!--

                            Ginger shots, which are drinks made from concentrated amounts of ginger root (Zingiber officinale), are claimed to help ward off illness and boost your immune system.

                            Although ginger shots have only recently become popular in the wellness community, ginger elixirs have been used since ancient times to treat a variety of ailments (1Trusted Source).
                            
                            While ginger offers impressive health attributes, you may wonder whether taking ginger shots is truly beneficial.
                            
                            This article reviews ginger shots, including their potential benefits, downsides, and ingredients.
                            
                            What are ginger shots?
                            Ginger shots are concentrated beverages made with fresh ginger. The ingredients vary depending on the recipe.
                            
                            Some shots contain only fresh ginger juice, while others include lemon juice, orange juice, turmeric, cayenne pepper, and/or manuka honey.
                            
                            They’re made by juicing fresh ginger root or combining fresh, grated ginger with other juices, such as lemon or orange.
                            
                            Ginger shots are available pre-made or made to order at juiceries or specialty health food stores.
                            
                            You can also whip them up at home by using a juicer, adding freshly grated ginger to citrus juice, or mixing a knob of ginger with other ingredients in a high-powered blender.
                            
                            Due to their high concentration of this powerful root, ginger shots can be spicy and unpleasant to drink. Thus, they’re made in small quantities and typically consumed in one or two swigs.
                        </p>
                           -->
                </div>
                <div class="col-lg-4 text-left">    
                    <div class="alignleft">
                        <script type="text/javascript">
                            amzn_assoc_ad_type = "banner";
                        amzn_assoc_marketplace = "amazon";
                        amzn_assoc_region = "US";
                        amzn_assoc_placement = "assoc_banner_placement_default";
                        amzn_assoc_banner_type = "ez";
                        amzn_assoc_p = "12";
                        amzn_assoc_width = "300";
                        amzn_assoc_height = "250";
                        amzn_assoc_tracking_id = "rakeshramesan-20";
                        amzn_assoc_linkid = "397da282c5a0dc120908125bd75fa755";
                        </script>
                        <script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1"></script>
                    </div class="row">
                    <h2 class="text-center my-4">related topics</h2>
                    <hr class="divider my-4" />
                        
                    <div class="list-group">
                    <?php foreach ($related as $blog): ?>
                        <a href="/blogs/<?=$blog['id']?>/<?=$blog['title']?>" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><?=$blog['title']?></h5>
                            <small><?=$blog['created_time']?></small>
                            </div>
                            <p class="mb-1">Donec id elit .</p>
                            <small><?=$blog['created_by']?></small>
                        </a>
                    <?php endforeach; ?>
                       <!-- 
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">List group item heading</h5>
                            <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Donec id elit </p>
                            <small class="text-muted">Donec id elit non mi porta.</small>
                        </a>-->
                        </div>
                        
                    <div>

                    </div>
                    
                </div>
               <!-- <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+1 (555) 123-4567</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i
                        ><a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
                    </div>-->
                </div>
            </div>
        </section>
        <!-- Footer-->
        <?php include_once("assets/snip/footer.php"); ?>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
        <!-- Core theme JS-->
        <script src="/js/scripts.js"></script>
    </body>
</html>
